body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
}
#hero{
  width: 592px;

  margin: 0 auto 72px;
  
}
#hero img{
  margin-bottom: 72px;

}


h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 32px;
}
h1 span {
  font-weight: 700;
}
body {
  font-family: 'Open Sans', sans-serif;

}
span, a{
  color:#FF9900;
}
p, #footer{
  color: #7D7987;
}
#footer a + a{
  margin-left: 28px;
}
#line{
  width: 568px;
  height: 0px;
  margin: 0px auto 8px;
  
 
  border: 1px #ECEFF2 solid;
}
#footer {
  position: fixed; /* Deixa a posição fixa */
  bottom: 0;       /* Ocupa a posição desejada em relação a tela */
  width: 100%;     /* Ocupa toda largura da tela */
}
